#about-me-section {
    text-align: left;
    padding-top: 5%;
    padding-bottom: 5%;
    padding-left: 5%;
    padding-right: 5%;
    color: black;
    background-image: url("../src/assets/background2.png");
    background-size: cover;
    background-position-x: center;
}

.about-me-title {
    font-size: 3.5em;
}

.about-me {
    font-size: 1.5em;
}
