@font-face {
    font-family: TT Firs Neue Trl;
    src: url(src/assets/TTFirsNeueTrialRegular.ttf);
}

.about-me-section {
    text-align: left;
    margin-top: 100px;
    margin-left: 5%;
    margin-right: 5%;
    color: white;
    font-family: TT Firs Neue Trl;
}

.about-me-title {
    font-size: 3.5em;
}

.about-me {
    font-size: 1em;
}
