@font-face {
    font-family: TT Firs Neue Trl;
    src: url(src/assets/TTFirsNeueTrialRegular.ttf);
}

#home {
  margin-top: 15%;
}

.profile-photo {
    border-radius: 50%;
    width: 90%;
    margin-left: 5%;
  }

.intro-section {
    text-align: left;
    margin-top: 5%;
    margin-left: 2%;
    color: white;
    font-family: TT Firs Neue Trl;
}

.name {
    font-size: 3.5em;
    line-height: 1;
  }
  
.title {
    font-size: 1.5em;
    display: inline;
  }

.icon-link {
  font-size: 1.5em;
  color: white;
  padding-left: 1%;
}
