@font-face {
    font-family: TT Firs Neue Trl;
    src: url(src/assets/TTFirsNeueTrialRegular.ttf);
}

.projects-section {
    text-align: left;
    margin-top: 100px;
    margin-left: 5%;
    margin-right: 5%;
    color: white;
    font-family: TT Firs Neue Trl;
}

.projects-title {
    font-size: 3.5em;
}

.projects-sub-title {
    font-size: 2.5em;
}

.project-gif {
    width: 80%;
    padding-bottom: 5%;
}