@font-face {
    font-family: TT Firs Neue Trl;
    src: url(src/assets/TTFirsNeueTrialRegular.ttf);
}

#projects-section {
    text-align: left;
    padding-top: 5%;
    padding-bottom: 5%;
    padding-left: 5%;
    padding-right: 5%;
    color: black;
    font-family: TT Firs Neue Trl;
    background-image: url("../src/assets/background4.png");
    background-size: cover;
}

.project-description {
    margin-top: 5%;
}

.projects-title {
    font-size: 3.5em;
}

.projects-sub-title {
    font-size: 2.5em;
    padding-right: 2%;
    display: inline;
}

.project-gif {
    width: 80%;
    padding-bottom: 5%;
}

.project-icon-links {
    font-size: 1.5em;
    padding-right: 1%;
    color: black;
}