@font-face {
    font-family: TT Firs Neue Trl;
    src: url(src/assets/TTFirsNeueTrialRegular.ttf);
}

#skills-section {
    text-align: left;
    padding-top: 5%;
    padding-bottom: 5%;
    padding-left: 5%;
    padding-right: 5%;
    color: white;
    font-family: TT Firs Neue Trl;
    background-image: url("../src/assets/background.jpg");
    background-position-y: bottom;
    background-position-x: right;
}

.skills-title {
    font-size: 3.5em;
}

.tech {
    font-size: 1.5em;
    line-height: 2;
    text-align: center;
    /* margin-top: 5%; */
}
